<app-answer-modal
  [isVisible]="modalVisible"
  [correctAnswer]="selectedCountry.fin" />
<div class="background flex flex-col h-screen">
  <app-flag [flag]="selectedCountry.flag" class="flex-grow overflow-auto" />
  <app-points
    [playerName]="currentPlayer!.name"
    [playerPoints]="currentPlayer!.points"
    [playerTime]="currentPlayer!.time"
    class="flex-grow overflow-auto" />
  <app-answer-options
    [fourCountries]="fourCountries"
    (answer)="checkAnswer($event)"
    class="flex-grow overflow-auto" />
</div>
