@if (modalVisible) {
  <app-answer-modal [result]="result" [correctAnswer]="correctCountry" />
}
<div class="background flex flex-col h-dvh">
  <app-flag [flag]="selectedCountry.flag" class="flex-grow max-h-[300px]" />
  <app-points
    [playerName]="currentPlayer!.name"
    [playerPoints]="currentPlayer!.points"
    [playerTime]="currentPlayer!.time"
    class="flex-grow max-h-[150px] mb-5" />
  <app-answer-options
    [fourCountries]="fourCountries"
    (answer)="checkAnswer($event)"
    class="flex-grow min-h-[200px]" />
</div>
