/* Valikon tyylit */
div {
  position: absolute;
  right: 5px;
}

button {
  cursor: pointer;
}

/* Valikko-efekti: piilota valikko ja nosta sen ulkoasu esiin */
div[ngIf] {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
}

div[ngIf].ng-trigger {
  opacity: 1;
  transform: translateY(0);
}
