<div
  class="flex flex-col mt-5 p-4 border bg-gray-800 border-amber-200 rounded shadow-lg min-w-[190px]">
  <app-toggle
    class="mb-5 w-5"
    (change)="onToggleSinglePlayer()"
    [isChecked]="settings?.singlePlayer">
    <span class="min-w-[140px]">Yksinpeli</span>
  </app-toggle>
  <app-toggle
    class="mb-5"
    (change)="onToggleRounds()"
    [isChecked]="settings?.rounds === 5 ? false : true">
    <span class="min-w-[140px]">
      {{ settings?.rounds === 5 ? '5&nbsp;' : '10' }} kierrosta
    </span>
  </app-toggle>
  <app-toggle
    class="mb-5"
    (change)="onToggletimer()"
    [isChecked]="settings?.timer">
    <span class="min-w-[140px]">Aika</span>
  </app-toggle>
</div>
