.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: white;
  z-index: 10;
  position: relative;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.nav a.active {
  border-bottom: 2px solid #fff;
}
